In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm

In [2]:
parent_df = pd.DataFrame({
        'id' : [],
        'commentry_loc' : [],
        'summary_loc' : [],
        'series' : [],
        'venue' : [],
        'date' : []
    })
# Data Folders
summary = "summary/"      # Stores associated text file
commenty = "commentry/"   # Stores associated commentry ball wise

In [3]:
match_id_list = [18875,18873,18874,18876]
#match_id_list = range(18850,18852)

In [4]:
def get_soup(url):
    return BeautifulSoup(requests.get(url).text)

In [5]:
def get_url(no):
    cs = "https://www.cricbuzz.com/cricket-scores/"+str(no)
    return cs

In [6]:
def get_commentry(soup):
    posts = []
    for wrapper in soup.find_all('p', {"class":"cb-col cb-col-90 cb-com-ln"}):
        posts.append(wrapper.text)
    balls = []
    for wrapper in soup.find_all('span', {"class":"cb-col cb-col-8 text-bold"}):
        balls.append(wrapper.text)
    df = pd.DataFrame({
            'balls':balls,
            'comment':posts
        })
    return df

In [7]:
def get_summary(soup):
    post = []
    for wrapper in soup.find_all('p', {"class":"cb-col cb-col-100 cb-com-ln"}):
        post.append(wrapper.text)
    return post
    ' '.join.post
    return post

In [8]:
def get_additional_data(soup):
    try:
        series = soup.find_all('span', {"class":"text-hvr-underline text-gray"})
        s = series[0].text
        v = series[1].text
        date = soup.find('span', {"itemprop":"startDate"}).text
        return s,v,date
    except:
        return 0,0,0

In [9]:
def add_new_entry(match_id,k,commentry_df,soup):
    global parent_df
    ids = str(match_id)
    com = commenty+ids+".csv"
    sume = summary+ids+".txt"
    commentry_df.to_csv(com, index=False)
    file = open(sume, 'w')
    file.write(k)
    file.close()
    series,venue,date = get_additional_data(soup)
    new_entry = pd.DataFrame({
        'id' : [ids],
        'commentry_loc' : [com],
        'summary_loc' : [str(sume)],
        'series' : [series],
        'venue' : [venue],
        'date' : [date]
    })
    parent_df = pd.concat([parent_df,new_entry],axis=0)

In [10]:
def init_main():
    global match_id_list
    for i in tqdm(match_id_list):
        try:
            url = get_url(i)
            soup = get_soup(url)
            k = get_summary(soup)
            k = ' '.join(k)
            commentry_df = get_commentry(soup)
            add_new_entry(i,k,commentry_df,soup)
        except:
            print(i,"Not Scrapped..!!")

In [11]:
init_main()

 25%|██▌       | 1/4 [00:02<00:08,  2.86s/it]

      id        commentry_loc        summary_loc  \
0  18875  commentry/18875.csv  summary/18875.txt

                            series                     venue  \
0  Australia tour of England, 2018  Old Trafford, Manchester

                      date
0  Jun 24, 11:00 AM LOCAL

 50%|█████     | 2/4 [00:05<00:05,  2.67s/it]

      id        commentry_loc        summary_loc  \
0  18873  commentry/18873.csv  summary/18873.txt

                            series                     venue  \
0  Australia tour of England, 2018  Trent Bridge, Nottingham

                      date
0  Jun 19, 02:00 PM LOCAL

 75%|███████▌  | 3/4 [00:07<00:02,  2.60s/it]

      id        commentry_loc        summary_loc  \
0  18874  commentry/18874.csv  summary/18874.txt

                            series                                venue  \
0  Australia tour of England, 2018  Riverside Ground, Chester-le-Street

                      date
0  Jun 21, 02:00 PM LOCAL

100%|██████████| 4/4 [00:09<00:00,  2.34s/it]

      id        commentry_loc        summary_loc  \
0  18876  commentry/18876.csv  summary/18876.txt

                            series                  venue  \
0  Australia tour of England, 2018  Edgbaston, Birmingham

                      date
0  Jun 27, 06:30 PM LOCAL

In [12]:
parent_df.to_csv("main_assoc.csv",index=False)

,id,commentry_loc,summary_loc,series,venue,date
0,18875,commentry/18875.csv,summary/18875.txt,"Australia tour of England, 2018","Old Trafford, Manchester","Jun 24, 11:00 AM LOCAL"
0,18873,commentry/18873.csv,summary/18873.txt,"Australia tour of England, 2018","Trent Bridge, Nottingham","Jun 19, 02:00 PM LOCAL"
0,18874,commentry/18874.csv,summary/18874.txt,"Australia tour of England, 2018","Riverside Ground, Chester-le-Street","Jun 21, 02:00 PM LOCAL"
0,18876,commentry/18876.csv,summary/18876.txt,"Australia tour of England, 2018","Edgbaston, Birmingham","Jun 27, 06:30 PM LOCAL"

In [ ]:
parent_df